<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/csslayout.css">
    <style></style>
</head>
<body>
    <header>
        <div>
            <h1>Layout</h1>
        </div>
    </header>
    <main>
        <div class="content">
        </div>
        <div class="menu">
            <div class="menu1">
                <div class="abc"></div>
                <div class="abc1"></div>
                <div class="abc"></div>
            </div>
            <div class="menu2">
                <div class="abcd1"></div>
                <div class="abcd"></div>
                <div class="abcd1"></div>
            </div>
        </div>
    </main>
</body>
</html>